body {
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  margin: 5%;
  color: darkblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bowl-container {
  display: flex;
  justify-content: center;
}
.bowl {
  height: 300px;
  width: 600px;
  background-color: lightblue;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  position: absolute;
  z-index: 1;
}
.inner-bowl {
  height: 150px;
  width: 500px;
  background-color: rgb(106, 150, 165);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom: 5px solid darkblue;
  position: absolute;
  z-index: 2;
}

.orange {
  height: 100px;
  width: 100px;
  background-color: #ffb526;
  border-radius: 50%;
  border: solid rgb(226, 129, 18);
  position: relative;
  top: -20px;
  align-items: end;
  z-index: 3;
}

.orange-leaf {
  content: "";
  position: absolute;
  top: -1em;
  left: 3em;
  height: 0;
  width: 0;
  border: 1em solid #539e3d;
  border-radius: 50% 0 50% 0;
  border-bottom-color: #437512;
  border-right-color: #437512;
}

.strawberry-bottom {
  position: relative;
  border-radius: 62% 54% 24% 70% / 68% 64% 20% 46%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  background: red;
  align-self: self-start;
  left: -30px;
  z-index: 4;
}

.leaf-1 {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 0% 100% 0% 28% / 0% 100% 0% 100%;
  border: 1px solid black;
  transform: rotate(-80deg) translate(0px, -13px);
  background: green;
}

.leaf-2 {
  position: absolute;
  left: 22px;
  top: -2px;
  width: 10px;
  height: 10px;
  border-radius: 100% 0% 28% 0% / 100% 0% 100% 0%;
  border: 1px solid black;
  transform: rotate(-80deg) translate(0px, -13px);
  background: green;
  z-index: 6;
}

.strawberry-top {
  position: relative;
  border-radius: 62% 54% 24% 70% / 68% 64% 20% 46%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  background: red;
  align-self: self-start;
  left: -110px;
  top: 30px;
  z-index: 5;
}

.watermelon-box {
  margin-inline-start: -8%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #badc58;
  width: 170px;
  height: 110px;
  border-radius: 5px 5px 100px 100px;
  border: 5px solid #6ab04c;
  border-top: 0px;
  position: relative;
  flex-basis: auto;
  rotate: -30deg;
  z-index: 3;
  left: 35px;
}
.watermelon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 120px;
  height: 70px;
  background-color: #eb4d4b;
  border-radius: inherit;
  padding: 10px;
  left: -10px;
  z-index: 8;
}
.seed {
  background-color: #111;
  width: 7px;
  height: 5px;
  margin: 6px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform: rotate(90deg);
  z-index: 9;
}

.pear {
  width: 75px;
  height: 75px;
  margin-top: 25px;
  background-color: #d7c322;
  border-radius: 50% 15% 50% 50%;
  transform: rotate(-45deg);
  box-shadow: inset 0.15em 0.25em #c3b11f;
  position: relative;
  z-index: 10;
  left: 10px;
}

.pear-stem {
  width: 5px;
  height: 20px;
  background-color: brown;
  position: absolute;
  z-index: 10;
  top: -4px;
  left: 70px;
  transform: rotate(45deg);
}

.apple {
  width: 90px;
  height: 100px;
  background: #f54b40;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 60%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 60%;
  position: relative;
  top: -10px;
  z-index: 4;
  left: -5px;
}

.apple-stem {
  background: #175638;
  width: 5px;
  height: 16px;
  z-index: 5;
  position: relative;
  left: -50px;
  top: -23px;
}

.form {
  margin-top: 350px;
  text-align: center;
  color: darkblue;
}
